/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-family-sans-serif: 'Roboto', sans-serif !default;
$font-size-root:        16px !default;

/*-- scss:rules --*/

tr {
	line-height: calc(1.0rem);
}

.info tr { line-height: calc(0.75rem);}

h1, .h1 {
    font-size: calc(1.3rem + 0.3vw);
}

h2, .h2
{
    font-weight: 500;
    border-bottom: 0;
    font-size: calc(1.2rem + 0.2vw);
}

h3, .h3
{
    content:' ';
    display:block;
    border-bottom: 0;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    font-size: calc(1.1rem + 0.1vw);
}

.cell-output pre code {
    border-radius: 7px;
    border: 1px solid #cececf;
    background-color: #FFFFFF;
}

pre {
    background-color: rgba(233, 236, 239, .65);
}

/* Only target the first column of tables inside the .special-table div */
  .special-table table td:nth-child(1), 
  .special-table table th:nth-child(1) {
    border-right: 0.5px solid #333 !important;
    padding-right: 12px; /* Adds space so text doesn't touch the line */
  }
